* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 800px;
}
#main {
	width: 1350px;
	height: 1000px;
	overflow: hidden;
	background: url(bg1.jpg);
}
.list {
	list-style-type: none;
}
.list li {
	float: left;
	margin-top: 237px;
}
 img:hover {
    transform: scale(1.1);
}
.list li img {
    transition: all 0.2s linear 0s;
}  
.list li img {
	padding-left:15px;
	border:0;
}
.list_lineagem {
	list-style-type: none;
}
.list_lineagem li {
	float: left;
	width:440px;
	padding-left:10px;
	padding-top:10px;

}
#main ul{
	width:1350px;
	margin:0 auto;
		padding-top:200px;
}